body{
    background-color: #10B981;
    margin:auto;
}
.textareastyle{
    background-color:#10B981 ;
}
.formstyle{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.divstyle{
    display: block;
    text-align: center;
}
.divstyle2{
    display: block;
    text-align: center;
    
}
.intext{
    color:black;
}